body {
  max-width: 100vw;
  max-height: 100vh;
  background-color: #36454f;
  padding: 20px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #ffbf00;
  background-image: linear-gradient(gold, purple);
  animation: 10s flip-bg, 5s fade-out;
  animation-fill-mode: both;
}

@keyframes fade-out {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}

@keyframes flip-bg {
  50% {
    background-image: linear-gradient(violet, skyblue);
  }
  100% {
    background-image: linear-gradient(greenyellow, maroon);
  }
}
